<form class="{{cssClass}} witcher-item-{{item.type}} flexcol" autocomplete="off">

{{!-- Item Sheet Header --}}
{{> "systems/TheWitcherRPG/templates/sheets/item-header.hbs" data=data item=item}}

{{!-- Item Sheet Body --}}
<section class="item-content">
  <table>
    <tr>
      <td>{{localize "Witcher.Item.Alhformulas.IngridientsLabel"}}</td>
      <td>
        {{> "systems/TheWitcherRPG/templates/insertions/insertion-area.hbs" data=data.ingridients dist_field="ingridients;1;0;0" dist_type="all" isQty=false tpl="row"}}
      </td>
    </tr>
    <tr>
      <td>
        {{localize "Witcher.Item.LevelTypeLabel"}}
      </td>
      <td>
        <select name="data.LevelType">
        {{#select data.LevelType}}
            {{#each config.LevelType as |name type|}}
              <option value="{{type}}">{{localize name}}</option>
            {{/each}}
          {{/select}}
        </select> 
        </td>
      </tr>

      <tr>
        <td>{{localize "Witcher.Item.Times.Label"}}</td>
        <td><input type="text" name="data.time" value="{{data.time}}" /></td>
      </tr>
      <tr>
        <td>{{localize "Witcher.Item.ForgeDC"}}</td>
        <td><input type="text" name="data.forageDC" value="{{data.forageDC}}" data-dtype="Number"/></td>
      </tr>
      <tr>
        <td>{{localize "Witcher.Item.Cost"}}</td>
        <td><input type="text" name="data.cost" value="{{data.cost}}" data-dtype="Number" /></td>
      </tr>
      <tr>
        <td>{{localize "Witcher.Item.Rarity.Label"}}</td>
        <td>
          <select name="data.rarity">
          {{#select data.rarity}}
            {{#each config.RarityItem as |name value|}}
              <option value="{{value}}">{{localize name.long}}</option>
            {{/each}}
          {{/select}}
        </select>
        </td>
      </tr>

      <tr>
        <td>{{localize "Witcher.Source"}}</td>
        <td>
          <select name="data.source">
          {{#select data.source}}
            {{#each config.SourceList as |name type|}}
              <option value="{{type}}">{{localize name}}</option>
            {{/each}}
          {{/select}}
          </select> 
       </td>
    </tr>
  </table>
</section>
</form>