<form class="{{cssClass}} witcher-item-{{item.type}} flexcol" autocomplete="off">

{{!-- Item Sheet Header --}}
{{> "systems/TheWitcherRPG/templates/sheets/item-header.hbs" data=data item=item}}

{{!-- Item Sheet Navigation --}}
<nav class="sheet-navigation tabs" data-group="primary-tabs">
  <a class="item" data-tab="tab-Properties" data-group="primary-tabs">{{localize "Witcher.Item.Diagrams.Properties"}}</a>
  <a class="item" data-tab="tab-Components" data-group="primary-tabs">{{localize "Witcher.Item.Diagrams.Components"}}</a>
  <a class="item" data-tab="tab-Detailed" data-group="primary-tabs">{{localize "Witcher.Item.Detailed"}}</a>
</nav>

{{!-- Item Sheet Body --}}
<section class="item-content">
  <div class="tab flexcol" data-tab="tab-Properties" data-group="primary-tabs">
    <table>
      <tr>
        <td>{{localize "Witcher.Item.Diagrams.TypeLabel"}}</td>
        <td>
          <select name="data.category">
            {{#select data.category}}
              {{#each config.diagramsType as |name type|}}
                <option value="{{type}}">{{localize name}}</option>
              {{/each}}
            {{/select}}
          </select> 
        </td>
      </tr>

      <tr>
        <td>{{localize "Witcher.Item.Surcharge"}}</td>
        <td><input type="text" name="data.surcharge" value="{{data.surcharge}}" data-dtype="Number" /></td>
      </tr>
      <tr>
        <td>{{localize "Witcher.Item.ForageDC"}}</td>
        <td><input type="text" name="data.forage" value="{{data.forage}}" data-dtype="Number"/></td>
      </tr>
      <tr>
        <td>{{localize "Witcher.Item.Cost"}}</td>
        <td><input type="text" name="data.cost" value="{{data.cost}}" data-dtype="Number" /></td>
      </tr>
      <tr>
        <td>{{localize "Witcher.Item.Rarity.Label"}}</td>
        <td>
          <select name="data.rarity">
            {{#select data.rarity}}
              {{#each config.RarityItem as |name value|}}
                <option value="{{value}}">{{localize name.long}}</option>
              {{/each}}
            {{/select}}
          </select>
        </td>
      </tr>

      <tr>
        <td>
          {{localize "Witcher.Item.LevelTypeLabel"}}
        </td>
        <td>
          <select name="data.LevelType">
          {{#select data.LevelType}}
            {{#each config.LevelType as |name type|}}
              <option value="{{type}}">{{localize name}}</option>
            {{/each}}
          {{/select}}
        </select> 
        </td>
      </tr>
      
      <tr>
        <td>{{localize "Witcher.Source"}}</td>
        <td>
          <select name="data.source">
              {{#select data.source}}
                {{#each config.SourceList as |name type|}}
                  <option value="{{type}}">{{localize name}}</option>
                {{/each}}
              {{/select}}
            </select> 
        </td>
     </tr>
    </table>    
  </div>
  <div class="tab flexcol" data-tab="tab-Components" data-group="primary-tabs">
    {{> "systems/TheWitcherRPG/templates/insertions/insertion-area.hbs" data=data.components dist_field="components;0;1;0" dist_type="all" isQty=true tpl="many"}}
  </div>
  <div class="tab flexcol" data-tab="tab-Detailed" data-group="primary-tabs">
    {{editor content=data.description target="data.description" button=true owner=owner editable=editable}}
  </div>
</section>
</form>