<form class="{{cssClass}} witcher-item-{{item.type}} flexcol" autocomplete="off">

{{!-- Item Sheet Header --}}
{{> "systems/TheWitcherRPG/templates/sheets/item-header.hbs" data=data item=item}}

{{!-- Item Sheet Navigation --}}
<nav class="sheet-navigation tabs" data-group="primary-tabs">
  <a class="item" data-tab="tab-Properties" data-group="primary-tabs">{{localize "Witcher.Item.Properties"}}</a>
  <a class="item" data-tab="tab-Detailed" data-group="primary-tabs">{{localize "Witcher.Item.Detailed"}}</a>
</nav>

{{!-- Item Sheet Body --}}
<section class="item-content">
  <div class="tab flexcol" data-tab="tab-Properties" data-group="primary-tabs">
  <table class="item-table-info">
    <tr>
      <td>{{localize "Witcher.Item.Effects.Category"}}</td>
      <td>
        <select name="data.category">
          {{#select data.category}}
            {{#each config.Effects.Categories as |value key|}}
              <option value="{{key}}">{{localize value}}</option>
            {{/each}}
          {{/select}}
        </select> 
      </td>
    </tr>
    <tr>
      <td>{{localize "Witcher.Item.Effects.onToken"}}</td>
      <td>
        <select name="data.onToken">
          {{#select data.onToken}}
            {{#each config.Effects.onToken as |value key|}}
              <option value="{{key}}">{{localize value}}</option>
            {{/each}}
          {{/select}}
        </select> 
      </td>
    </tr>
    <tr>
      <td>{{localize "Witcher.Item.Effects.Activity"}}</td>
      <td>
        <select name="data.activity">
          {{#select data.activity}}
            {{#each config.Effects.Activities as |value key|}}
              <option value="{{key}}">{{localize value}}</option>
            {{/each}}
          {{/select}}
        </select> 
      </td>
    </tr>
    <tr>
      <td>{{localize "Witcher.Item.Effects.Target"}}</td>
      <td>
        <select name="data.target">
          {{#select data.target}}
            {{#each config.Effects.Targets as |value key|}}
              <option value="{{key}}">{{localize value}}</option>
            {{/each}}
          {{/select}}
        </select> 
      </td>
    </tr>
    <tr>
      <td colspan="2">{{localize "Witcher.Item.Effects.Formulas"}}</td>
    </tr>
    <tr>
      <td colspan="2">
        <textarea name="data.formula" rows="5">{{data.formula}}</textarea>
      </td>
    </tr>
    <tr>
      <td colspan="2">{{localize "Witcher.Item.Effects.Saving"}}</td>
    </tr>
    <tr>
      <td colspan="2">
        <textarea name="data.saving" rows="5">{{data.saving}}</textarea>
      </td>
    </tr>
    <tr>
      <td>{{localize "Witcher.Source"}}</td>
      <td>
        <select name="data.source">
            {{#select data.source}}
              {{#each config.SourceList as |name type|}}
                <option value="{{type}}">{{localize name}}</option>
              {{/each}}
            {{/select}}
          </select> 
      </td>
    </tr>
  </table>

  </div>
  <div class="tab flexcol" data-tab="tab-Detailed" data-group="primary-tabs">
    {{editor content=data.description target="data.description" button=true owner=owner editable=editable}}
  </div>
</section>
</form>