<form class="{{cssClass}} witcher-item-{{item.type}} flexcol" autocomplete="off">

{{!-- Item Sheet Header --}}
{{> "systems/TheWitcherRPG/templates/sheets/item-header.hbs" data=data item=item}}

{{!-- Item Sheet Body --}}
<section class="item-content">
  <table>
    <tr>
      <td>{{localize "Witcher.Actor.SkillStat"}}</td>
      <td>
        <select name="data.category">
          {{#select data.category}}
            {{#each config.CharacterStats as |name type|}}
              {{#ife name.Type "basis"}}
                <option value="{{type}}">{{localize name.Long}}</option>
              {{/ife}}
            {{/each}}
          {{/select}}
          </select> 
        </td>
    </tr>
    <tr>
      <td colspan="2">
        {{editor content=data.description target="data.description" button=true owner=owner editable=editable}}
      </td>
    </tr>
  </table>
</section>
</form>
