<form class="{{cssClass}} witcher-item-{{item.type}} flexcol" autocomplete="off">

{{!-- Item Sheet Header --}}
{{> "systems/TheWitcherRPG/templates/sheets/item-header.hbs" data=data item=item}}

{{!-- Item Sheet Navigation --}}
<nav class="sheet-navigation tabs" data-group="primary-tabs">
  <a class="item" data-tab="tab-Properties" data-group="primary-tabs">{{localize "Witcher.Item.Properties"}}</a>
  <a class="item" data-tab="tab-Effects" data-group="primary-tabs">{{localize "Witcher.Item.Effect"}}</a>
  <a class="item" data-tab="tab-Detailed" data-group="primary-tabs">{{localize "Witcher.Item.Detailed"}}</a>
</nav>

{{!-- Item Sheet Body --}}
<section class="item-content">
  <div class="tab flexcol" data-tab="tab-Properties" data-group="primary-tabs">
    <table>
      <tr>
        <th>{{localize "Witcher.Item.Weight"}}</th>
        <th>{{localize "Witcher.Item.ConcealmentLabel"}}</th>
        <th>{{localize "Witcher.Item.Cost"}}</th>
        <th>{{localize "Witcher.Item.Rarity.Label"}}</th>
        <th>{{localize "Witcher.Item.Reliability"}}</th>
      </tr>
      <tr class="table-th-value">
        <td><input type="text" name="data.weight" value="{{data.weight}}" data-dtype="Number"/></td>
        <td>
          <select name="data.concealment">
            {{#select data.concealment}}
              {{#each config.typeCONC as |name value|}}
                <option value="{{value}}">{{localize name.long}}</option>
              {{/each}}
            {{/select}}
          </select>
        </td>
        <td><input type="text" name="data.cost" value="{{data.cost}}" data-dtype="Number" /></td>
        <td>
          <select name="data.rarity">
            {{#select data.rarity}}
              {{#each config.RarityItem as |name value|}}
                <option value="{{value}}">{{localize name.long}}</option>
              {{/each}}
            {{/select}}
          </select>
        </td>
        <td><input name="data.reliability" type="text" value="{{data.reliability}}" data-dtype="Number" /></td>
      </tr>

      <tr>
        <td>{{localize "Witcher.Item.Weapon.Category"}}</td>
        <td colspan="4">
          <select name="data.category">
            {{#select data.category}}
              {{#each config.categoryWeapon as |name value|}}
                <option value="{{value}}">{{localize name}}</option>
              {{/each}}
            {{/select}}
          </select>
        </td>
      </tr>

      <tr>
        <td colspan="4">{{localize "Witcher.Item.Weapon.isElder"}}</td>
        <td>
          <input type="checkbox" name="data.isElder" {{checked data.isElder}}/>
        </td>
      </tr>

      <tr>
        <td>{{localize "Witcher.Item.Weapon.Damage"}}</td>
        <td colspan="4">
          <input name="data.damage" type="text" value="{{data.damage}}" placeholder="{{localize "Witcher.Item.Effects.Formulas"}}" />
        </td>
      </tr>
      <tr>
        <td>{{localize "Witcher.Item.TypeDamages.Label"}}</td>
        <td class="align-center">
          <label>{{localize "Witcher.Item.TypeDamages.Slashing.Long"}}<br><input type="checkbox" name="data.damageType.slashing" {{checked data.damageType.slashing}}/></label>
        </td>
        <td class="align-center">
          <label>{{localize "Witcher.Item.TypeDamages.Piercing.Long"}}<br><input type="checkbox" name="data.damageType.piercing" {{checked data.damageType.piercing}}/></label>
        </td>
        <td class="align-center">
          <label>{{localize "Witcher.Item.TypeDamages.Bludgeoning.Long"}}<br><input type="checkbox" name="data.damageType.bludgeoning" {{checked data.damageType.bludgeoning}}/></label>
        </td>
        <td class="align-center">
          <label>{{localize "Witcher.Item.TypeDamages.Elemental.Long"}}<br><input type="checkbox" name="data.damageType.elemental" {{checked data.damageType.elemental}}/></label>
        </td>
      </tr>

      <tr>
        <td>{{localize "Witcher.Item.Weapon.Runes"}}</td>
        <td colspan="4">
          <input name="data.runes" type="text" value="{{data.runes}}" data-dtype="Number" />
        </td>
      </tr>

      <tr>
        <td>{{localize "Witcher.Item.Weapon.Grasp"}}</td>
        <td colspan="4">
          <select name="data.grasp">
            {{#select data.grasp}}
              {{#each config.WeaponGrasps as |name type|}}
                <option value="{{type}}">{{localize name}}</option>
              {{/each}}
            {{/select}}
          </select> 
        </td>
      </tr>

      <tr>
        <td>{{localize "Witcher.Item.Weapon.Distantion"}}</td>
        <td colspan="4">
          <input name="data.distantion" type="text" value="{{data.distantion}}" placeholder="" />
        </td>
      </tr>

      <tr>
        <td>{{localize "Witcher.Item.DiagramLabel"}}</td>
        <td colspan="4">
          {{> "systems/TheWitcherRPG/templates/insertion-area.hbs" data=data.assocDiagram dist_field="assocDiagram;0;0;1" dist_type="diagrams"}}
        </td>
      </tr>
      <tr>
        <td>{{localize "Witcher.Source"}}</td>
        <td colspan="4">
          <select name="data.source">
            {{#select data.source}}
              {{#each config.SourceList as |name type|}}
                <option value="{{type}}">{{localize name}}</option>
              {{/each}}
            {{/select}}
          </select> 
        </td>
     </tr>
    </table>
    
  </div>
  <div class="tab flexcol" data-tab="tab-Effects" data-group="primary-tabs">
    {{> "systems/TheWitcherRPG/templates/insertion-area.hbs" data=data.effects dist_field="effects;0;0;1" dist_type="all" isQty=false tpl="many"}}
  </div>
  <div class="tab flexcol" data-tab="tab-Detailed" data-group="primary-tabs">
    {{editor content=data.description target="data.description" button=true owner=owner editable=editable}}
  </div>
</section>
</form>