<div class="witcher-insertion-area"
  data-dist-field="{{dist_field}}" 
  data-dist-type="{{dist_type}}">
{{#isArray data}}
<table>
{{#each data}}
  <tr data-item-id="{{id}}">
    <td>
      <img class="click-show" src="{{img}}" title="{{name}}">
    </td>
    <td>{{name}}</td>          
  {{#if ../isQty}}
    <td><input class="qty-edit" type="text" value="{{qty}}" data-dtype="Number" /></td>
  {{/if}}
    <td><a class="delete"><i class="fas fa-trash-alt"></i></a></td>
  </tr>
{{/each}}
</table>
{{else}}
  <span class="no-element">{{{localize "Witcher.DragDrop"}}}</span>
{{/isArray}}
</div>