<div class="witcher-insertion-area"
  data-dist-field="{{dist_field}}" 
  data-dist-type="{{dist_type}}">
{{#if data.length}}
  {{#each data}}
    <span data-item-id="{{id}}">
      <img src="{{img}}" class="img35x35" title="{{name}}">
      <a class="delete"><i class="fas fa-trash-alt"></i></a>
    </span>
  {{/each}}
{{else}}
  {{localize "Witcher.DragDrop"}}
{{/if}}
</div>