<form class="{{cssClass}} witcher-actor-{{item.type}} flexcol" autocomplete="off">

<header class="sheet-header flex0">
  <img class="profile" src="{{item.img}}" title="{{item.name}}" data-edit="img"/>
  <section class="header-details flexrow">
    <div class="flexcol">
      <h1 class="actor-name">
        <input name="name" type="text" value="{{item.name}}" placeholder="{{localize "Witcher.Actor.Name"}}" />
      </h1>
    </div>

  </section>
</header>

{{!-- NPC Sheet Navigation --}}
<nav class="sheet-navigation tabs" data-group="primary">
  <!-- Общая информация, статы, навыки -->
  <a class="item" data-tab="summary" data-group="primary">{{localize "Witcher.Summary"}}</a>
  <!-- Ивентарь -->
  <a class="item" data-tab="inventory" data-group="primary">{{localize "Witcher.Inventory"}}</a>
  <!-- Магия и заклинания, рецепты -->
  <a class="item" data-tab="Spellbook" data-group="primary">{{localize "Witcher.Spellbook"}}</a>
  <!-- Активные статусы и эффекты на персонаже -->
  <a class="item" data-tab="statuses" data-group="primary">{{localize "Witcher.Statuses"}}</a>
  <!-- Профессия и раса -->
  <a class="item" data-tab="profrace" data-group="primary">{{localize "Witcher.Profrace"}}</a>
  <!-- Биография и жизненный путь -->
  <a class="item" data-tab="biography" data-group="primary">{{localize "Witcher.Biography"}}</a>
</nav>

{{!-- NPC Sheet Body --}}
<section class="actor-content">
  
  <div class="tab summary flexcol" data-group="primary" data-tab="summary">
    <div class="header-summary flexcol">
      {{>"systems/TheWitcherRPG/templates/sheets/actors/hero/summary.hbs"}}
    </div>
    <div class="skills">
      {{>"systems/TheWitcherRPG/templates/sheets/actors/hero/skills.hbs"}}
    </div>
  </div>

  <div class="tab inventory flexcol" data-group="primary" data-tab="inventory">
    <div class="header-inventory flexcol">
    </div>
  </div>

  <div class="tab Spellbook flexcol" data-group="primary" data-tab="Spellbook">
    <div class="header-Spellbook flexcol">
    </div>
  </div>

  <div class="tab statuses flexcol" data-group="primary" data-tab="statuses">
    <div class="header-statuses flexcol">
    </div>
  </div>

  <div class="tab profrace flexcol" data-group="primary" data-tab="profrace">
    <div class="header-profrace flexcol">
    </div>
  </div>

  <div class="tab biography flexcol" data-group="primary" data-tab="biography">
    <div class="header-biography flexcol">
    </div>
  </div>

</section>
</form>