<form class="{{cssClass}} witcher-actor-{{item.type}} flexcol" autocomplete="off">

{{!-- NPC Sheet Navigation --}}
<nav class="main-nav sheet-navigation tabs" data-group="primary">
  <!-- Общая информация, статы, навыки -->
  <a class="item" data-tab="summary" data-group="primary">{{localize "Witcher.Summary"}}</a>
  <!-- Магия и заклинания, рецепты -->
  <a class="item" data-tab="Spellbook" data-group="primary">{{localize "Witcher.Spellbook"}}</a>
  <!-- Активные статусы и эффекты на персонаже -->
  <a class="item" data-tab="statuses" data-group="primary">{{localize "Witcher.Statuses"}}</a>
  <!-- Профессия и раса -->
  <a class="item" data-tab="profrace" data-group="primary">{{localize "Witcher.Profrace"}}</a>
  <!-- Биография и жизненный путь -->
  <a class="item" data-tab="biography" data-group="primary">{{localize "Witcher.Biography"}}</a>
</nav>

{{!-- NPC Sheet Body --}}
<section class="actor-content">

  <div class="tab summary flexcol" data-group="primary" data-tab="summary">

    <div class="flexrow">
      <div class="left-side">
        <!-- Чукча не верстал 7 лет, потому сорян кто это увидит :) -->
        <table>
          <tr>
            <td><input name="name" type="text" value="{{item.name}}"/></td>
            <td class="width-cells-30px"></td>
            <td class="width-cells-70px"><input name="data.biography.sex" type="text" value="{{data.biography.sex}}"/></td>
            <td class="width-cells-30px"></td>
            <td class="width-cells-70px"><input name="data.biography.age" type="text" value="{{data.biography.age}}"/></td>
          </tr>
          <tr>
            <td class="border-line-prop">{{localize "Witcher.Actor.Biography.Name"}}</td>
            <td class="width-cells-30px"></td>
            <td class="border-line-prop">{{localize "Witcher.Actor.Biography.Sex"}}</td>
            <td class="width-cells-30px"></td>
            <td class="border-line-prop">{{localize "Witcher.Actor.Biography.Age"}}</td>
          </tr>
        </table>
        <table>
          <tr>
            <td class="width-cells-labels">&nbsp;</td>
            <td class="width-cells-30px"></td>
            <td class="width-cells-labels"></td>
          </tr>
          <tr>
            <td class="border-line-prop">{{localize "Witcher.Actor.Biography.Race"}}</td>
            <td class="width-cells-30px"></td>
            <td class="border-line-prop">{{localize "Witcher.Actor.Biography.Profession"}}</td>
          </tr>
        </table>

        <nav class="sheet-navigation tabs second-nav" data-group="secondary-tabs">
          <a class="item" data-tab="summary-skills" data-group="secondary-tabs">{{localize "Witcher.Summary"}}</a>
          <a class="item" data-tab="summary-inventory" data-group="secondary-tabs">{{localize "Witcher.Inventory"}}</a>
        </nav>
        
        <div class="skinv-content">
          <div class="tab" data-group="secondary-tabs" data-tab="summary-skills">
            {{>"systems/TheWitcherRPG/templates/sheets/actors/hero2/actor-skills-list.hbs"}}
          </div>
          <div class="tab" data-group="secondary-tabs" data-tab="summary-inventory">
            inventory
          </div>
        </div>
      </div>

      <div class="right-side">
        <img class="profile" src="{{item.img}}" title="{{item.name}}" data-edit="img"/>

        <div class="actor-hp-sun-sta-block">
          <div class="actor-sensor-recovery">{{data.stats.REC.total}}</div>
          <div class="actor-sensor-current">
            <input type="text" name="data.stats.HP.value" value="{{data.stats.HP.value}}"  data-dtype="Number"/>
            <span><input type="text" name="data.stats.STUN.value" value="{{data.stats.STUN.value}}"  data-dtype="Number" disabled/></span>
            <input type="text" name="data.stats.STA.value" value="{{data.stats.STA.value}}"  data-dtype="Number"/>
          </div>
          <div class="actor-sensor-max">
            {{data.stats.HP.total}}
            <span>{{data.stats.STUN.value}}</span>
            {{data.stats.STA.value}}
          </div>
          <div class="actor-sensor-label">
            {{localize "Witcher.Actor.Stats.HP.Short"}}
            <span>{{localize "Witcher.Actor.Stats.STUN.Short"}}</span>
            {{localize "Witcher.Actor.Stats.STA.Short"}}
          </div>
        </div>

        <div class="actor-luck-ini-spd-block">

        </div>

        <div class="actor-defence-block">

        </div>

      </div>
    </div>
  </div>

  <div class="tab Spellbook flexcol" data-group="primary" data-tab="Spellbook">
    <div class="header-Spellbook flexcol">Spellbook
    </div>
  </div>

  <div class="tab statuses flexcol" data-group="primary" data-tab="statuses">
    {{>"systems/TheWitcherRPG/templates/sheets/actors/hero/statuses.hbs"}}
  </div>

  <div class="tab profrace flexcol" data-group="primary" data-tab="profrace">
    <div class="header-profrace flexcol">profrace
    </div>
  </div>

  <div class="tab biography flexcol" data-group="primary" data-tab="biography">
    <div class="header-biography flexcol">biography
    </div>
  </div>

</section>
</form>