<form class="{{cssClass}} witcher-actor-{{actor.type}} flexcol" autocomplete="off">

{{!-- NPC Sheet Navigation --}}
<nav class="main-nav sheet-navigation tabs" data-group="primary">
  <!-- Общая информация, статы, навыки -->
  <a class="item" data-tab="summary" data-group="primary">{{localize "Witcher.Summary"}}</a>
  <!-- Магия и заклинания, рецепты -->
  <a class="item" data-tab="Spellbook" data-group="primary">{{localize "Witcher.Spellbook"}}</a>
  <!-- Активные статусы и эффекты на персонаже -->
  <a class="item" data-tab="statuses" data-group="primary">{{localize "Witcher.Statuses"}}</a>
  <!-- Профессия и раса -->
  <a class="item" data-tab="profrace" data-group="primary">{{localize "Witcher.Profrace"}}</a>
  <!-- Биография и жизненный путь -->
  <a class="item" data-tab="biography" data-group="primary">{{localize "Witcher.Biography"}}</a>
</nav>

{{!-- NPC Sheet Body --}}
<section class="actor-content">

  <div class="tab summary flexcol" data-group="primary" data-tab="summary">

    <div class="flexrow">
      <div class="left-side">
        <!-- Чукча не верстал 7 лет, потому сорян кто это увидит :) -->
        <table>
          <tr>
            <td><input name="name" type="text" value="{{actor.name}}"/></td>
            <td class="width-cells-30px"></td>
            <td class="width-cells-70px"><input name="data.biography.sex" type="text" value="{{actorData.biography.sex}}"/></td>
            <td class="width-cells-30px"></td>
            <td class="width-cells-70px"><input name="data.biography.age" type="text" value="{{actorData.biography.age}}"/></td>
          </tr>
          <tr>
            <td class="border-line-prop">{{localize "Witcher.Actor.Biography.Name"}}</td>
            <td class="width-cells-30px"></td>
            <td class="border-line-prop">{{localize "Witcher.Actor.Biography.Sex"}}</td>
            <td class="width-cells-30px"></td>
            <td class="border-line-prop">{{localize "Witcher.Actor.Biography.Age"}}</td>
          </tr>
        </table>
        <table>
          <tr>
            <td class="width-cells-labels">&nbsp;</td>
            <td class="width-cells-30px"></td>
            <td class="width-cells-labels"></td>
          </tr>
          <tr>
            <td class="border-line-prop">{{localize "Witcher.Actor.Biography.Race"}}</td>
            <td class="width-cells-30px"></td>
            <td class="border-line-prop">{{localize "Witcher.Actor.Biography.Profession"}}</td>
          </tr>
        </table>

        <nav class="sheet-navigation tabs second-nav" data-group="secondary-tabs">
          <a class="item" data-tab="summary-skills" data-group="secondary-tabs">{{localize "Witcher.Summary"}}</a>
          <a class="item" data-tab="summary-inventory" data-group="secondary-tabs">{{localize "Witcher.Inventory"}}</a>
        </nav>
        
        <div class="skinv-content">
          <div class="tab" data-group="secondary-tabs" data-tab="summary-skills">
            {{>"systems/TheWitcherRPG/templates/sheets/actors/hero2/actor-skills-list.hbs"}}
          </div>
          <div class="tab" data-group="secondary-tabs" data-tab="summary-inventory">
            {{>"systems/TheWitcherRPG/templates/sheets/actors/hero2/actor-inventory-list.hbs"}}
          </div>
        </div>
      </div>

      <div class="right-side">
        <img class="profile" src="{{actor.img}}" title="{{actor.name}}" data-edit="img"/>

        <!-- Заебался! Плюс мелкие подписи вообще не видно
        <table class="table-unstaled actor-hp-sun-sta-block">
          <tr>
            <td colspan="3"></td>
          </tr>
          <tr class="stats-value">
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr class="stats-total">
            <td>{{actorData.stats.HP.total}}</td>
            <td>{{actorData.stats.STUN.total}}</td>
            <td>{{actorData.stats.STA.total}}</td>
          </tr>
          <tr class="weightvigor">
            <td></td>
            <td></td>
            <td></td>
          </tr>
        </table>

        <table class="table-unstaled actor-luck-ini-spd-block">
          <tr>
            <td></td>
            <td></td>
            <td></td>
          </tr>
        </table>

        <table class="table-unstaled actor-defence-block">

        </table>
        -->
        <div class="quick-action-menu">
          <input type="button" value="{{localize "Witcher.Actor.Buttons.QuickActions"}}">
        </div>

        <table class="table-unstaled table-firsttd-click">
          <tr>
            <th></th>
            <th>{{localize "Witcher.Current"}}</th>
            <th>{{localize "Witcher.Maximum"}}</th>
          </tr>
          <tr>
            <td>{{localize "Witcher.Actor.Stats.HP.Short"}}</td>
            <td><input type="text" name="data.stats.HP.value" value="{{actorData.stats.HP.value}}"  data-dtype="Number"/></td>
            <td>{{actorData.stats.HP.total}}</td>
          </tr>
          <tr>
            <td>{{localize "Witcher.Actor.Stats.STA.Short"}}</td>
            <td><input type="text" name="data.stats.STA.value" value="{{actorData.stats.STA.value}}"  data-dtype="Number"/></td>
            <td>{{actorData.stats.STA.total}}</td>
          </tr>
          <tr>
            <td>{{localize "Witcher.Actor.Stats.LUCK.Short"}}</td>
            <td><input type="text" name="data.stats.LUCK.value" value="{{actorData.stats.LUCK.value}}"  data-dtype="Number"/></td>
            <td><input type="text" name="data.stats.LUCK.total" value="{{actorData.stats.LUCK.total}}"  data-dtype="Number"/></td>
          </tr>
          <tr>
            <td colspan="2">{{localize "Witcher.Actor.Stats.STUN.Short"}}</td>
            <td>{{actorData.stats.STUN.total}}</td>
          </tr>
          {{#ifgt data.stats.VIGOR.total 0}}
          <tr>
            <td colspan="2">{{localize "Witcher.Actor.Stats.VIGOR.Short"}}</td>
            <td>{{actorData.stats.VIGOR.total}}</td>
          </tr>
          {{/ifgt}}
          <tr>
            <td colspan="2">{{localize "Witcher.Actor.Stats.RUN.Short"}}</td>
            <td>{{actorData.stats.RUN.total}}</td>
          </tr>
          <tr>
            <td colspan="2">{{localize "Witcher.Actor.Stats.LEAP.Short"}}</td>
            <td>{{actorData.stats.LEAP.total}}</td>
          </tr>
          <tr>
            <td colspan="2">{{localize "Witcher.Actor.Stats.REC.Short"}}</td>
            <td>{{actorData.stats.REC.total}}</td>
          </tr>
          <tr>
            <td>{{localize "Witcher.Actor.Stats.ENC.Short"}}</td>
            <td>{{actorData.stats.ENC.value}}</td>
            <td>{{actorData.stats.ENC.total}}</td>
          </tr>
          <tr>
            <td>{{localize "Witcher.Actor.StatsCount"}}</td>
            <td><input type="text" name="data.trainSkills.StatsCount" value="{{actorData.StatsCount}}"  data-dtype="Number" disabled/></td>
            <td>todo</td>
          </tr>
          <tr>
            <td>{{localize "Witcher.Actor.SkillsCount"}}</td>
            <td><input type="text" name="data.trainSkills.SkillsCount" value="{{actorData.SkillsCount}}"  data-dtype="Number" disabled/></td>
            <td>todo</td>
          </tr>
        </table>

        <table class="table-unstaled table-firsttd-click TableMeleeFight">
          <tr><th colspan="2"><i class="fas fa-fist-raised"></i>  {{localize "Witcher.Actor.MeleeFight"}}</th></tr>
          <tr>
            <td>{{localize "Witcher.Actor.MeleeFightHand"}}</td>
            <td>{{actorData.meleeFightHand}}</td>
          </tr>
          <tr>
            <td>{{localize "Witcher.Actor.MeleeFightFoot"}}</td>
            <td>{{actorData.meleeFightFoot}}</td>
          </tr>
        </table>

        <!--
        <table class="table-unstaled actor-defence-block">

        </table>
        -->
      </div>
    </div>
  </div>

  <div class="tab Spellbook flexcol" data-group="primary" data-tab="Spellbook">
    <div class="header-Spellbook flexcol">Spellbook
    </div>
  </div>

  <div class="tab statuses flexcol" data-group="primary" data-tab="statuses">
    {{>"systems/TheWitcherRPG/templates/sheets/actors/hero/statuses.hbs"}}
  </div>

  <div class="tab profrace flexcol" data-group="primary" data-tab="profrace">
    <div class="header-profrace flexcol">profrace
    </div>
  </div>

  <div class="tab biography flexcol" data-group="primary" data-tab="biography">
    <div class="header-biography flexcol">biography
    </div>
  </div>

</section>
</form>