<div class="flexcol inventory-drop">
  {{#if isEquipWeapons}}
  <table class="table-unstyle active-invemtories inv-weapon">
    <tr>
      <th></th>
      <th>{{localize "Witcher.Backpacks.Common.Name"}}</th>
      <th>{{localize "Witcher.Backpacks.Weapon.Damage"}}</th>
      <th title="{{localize "Witcher.Backpacks.Weapon.TypeDamagesTitle"}}">{{localize "Witcher.Backpacks.Weapon.TypeDamages"}}</th>
      <th title="{{localize "Witcher.Backpacks.Weapon.DistantionTitle"}}">{{localize "Witcher.Backpacks.Weapon.Distantion"}}</th>
      <th title="{{localize "Witcher.Backpacks.Weapon.GraspTitle"}}">{{localize "Witcher.Backpacks.Weapon.Grasp"}}</th>
      <th>{{localize "Witcher.Backpacks.Common.Effects"}}</th>
      <th>{{localize "Witcher.Backpacks.Weapon.Oil"}}</th>
      <th>{{localize "Witcher.Backpacks.Weapon.Sharp"}}</th>
      <th>{{localize "Witcher.Backpacks.Weapon.Poison"}}</th>
    </tr>
    {{#each isEquipWeapons}}
      <tr data-id="{{id}}">
        <td><img src="{{img}}" title="{{name}}"></td>
        <td>{{name}}</td>
        <td>{{data.damage}}</td>
        <td title="{{localize "Witcher.Backpacks.Weapon.TypeDamagesTitle"}}">
          {{#each data.damageType as |v k|}}
            {{#if v}}
              <span title="{{localize (lookup (lookup ../../config.typeDamage k) 'long')}}">
                {{localize (lookup (lookup ../../config.typeDamage k) 'short')}}&nbsp;
              </span>
            {{/if}}
          {{/each}}
        </td>
        <td title="{{localize "Witcher.Backpacks.Weapon.DistantionTitle"}}">{{data.distantion}}</td>
        <td title="{{localize "Witcher.Backpacks.Weapon.GraspTitle"}}"><img class="table-icon" src="{{../config.imgAssets}}/hand-{{data.grasp}}.png"></td>
        <td>
          {{#each data.effects}}
            <span title="{{name}}">
              <img src="{{img}}" title="{{name}}"> 
            </span>
          {{/each}}
        </td>
        <td class="set-weapon-oil">
          {{#if setOil}}
          <img src="{{setOil.img}}" title="{{setOil.name}}">
          {{else}}
          <img src="{{../config.imgAssets}}/oil.png" title="{{localize "Witcher.Backpacks.Weapon.noOil"}}">
          {{/if}}
        </td>
        <td class="set-weapon-sharp">
          {{#if setSharp}}
          <img src="{{setSharp.img}}" title="{{setSharp.name}}">
          {{else}}
          <img src="{{../config.imgAssets}}/sharp.png" title="{{localize "Witcher.Backpacks.Weapon.noSharp"}}">
          {{/if}}
        </td>
        <td class="set-weapon-poison">
          {{#if setPoison}}
            <img src="{{setPoison.img}}" title="{{setPoison.name}}">
          {{else}}
          <img src="{{../config.imgAssets}}/poison.png" title="{{localize "Witcher.Backpacks.Weapon.noPoison"}}">
          {{/if}}
        </td>
      </tr>
    {{/each}}
  </table>
  {{/if}}

  {{#if isEquipOthers}}
  <table class="item-table-info active-invemtories inv-valuables">
    {{#each isEquipOthers}}
      <tr>
        <td><img style="width:35px;height:35px" src="{{img}}" title="{{name}}"></td>
        <td>{{name}}</td>
        <td></td>
      </tr>
    {{/each}}
  </table>
  {{/if}}


</div>