<div class="actor-skills-container">

  <div class="flex-parent">
    <div class="flex-item">
      <table class="actor-table-skills TableMeleeFight">
        <tr>
          <th colspan="2">{{localize "Witcher.Actor.MeleeFight"}}</th>
        </tr>
        <tr>
          <td>{{localize "Witcher.Actor.MeleeFightHand"}}</td>
          <td>{{data.MeleeFightHand}}</td>
        </tr>
        <tr>
          <td>{{localize "Witcher.Actor.MeleeFightFoot"}}</td>
          <td>{{data.MeleeFightFoot}}</td>
        </tr>
      </table>

      <table class="actor-table-skills">
        <tr>
          <th colspan="3">{{localize "Witcher.Actor.Stats.INT.Long"}}</th>
        </tr>
        {{#each skillsTable.INT}}
        <tr data-key="{{key}}">
          <td>{{name}}{{#ifgt difficult 1}} ({{difficult}}){{/ifgt}}</td>
          <td>
            <input type="hidden" name="data.skills.{{key}}.difficult" value="{{difficult}}"/>
            <input type="hidden" name="data.skills.{{key}}.stat" value="INT"/>
            <input type="text" name="data.skills.{{key}}.value" value="{{lookup (lookup ../data.skills key) 'value'}}"  data-dtype="Number"/>
          </td>
          <td>{{lookup (lookup ../data.skills key) 'total'}}</td>
        </tr>
        {{/each}}
      </table>

      <table class="actor-table-skills">
        <tr>
          <td>{{localize "Witcher.Actor.allSkills"}}</td>
          <td>{{data.allPoints}}</td>
        </tr>
      </table> 

    </div>
    <div class="flex-item">
      <table class="actor-table-skills">
        <tr>
          <th colspan="3">{{localize "Witcher.Actor.Stats.REF.Long"}}</th>
        </tr>
        {{#each skillsTable.REF}}
        <tr data-key="{{key}}">
          <td>{{name}}{{#ifgt difficult 1}} ({{difficult}}){{/ifgt}}</td>
          <td>
            <input type="hidden" name="data.skills.{{key}}.difficult" value="{{difficult}}"/>
            <input type="hidden" name="data.skills.{{key}}.stat" value="REF"/>
            <input type="text" name="data.skills.{{key}}.value" value="{{lookup (lookup ../data.skills key) 'value'}}"  data-dtype="Number"/>
          </td>
          <td>{{lookup (lookup ../data.skills key) 'total'}}</td>
        </tr>
        {{/each}}
      </table>

      <table class="actor-table-skills">
        <tr>
          <th colspan="3">{{localize "Witcher.Actor.Stats.DEX.Long"}}</th>
        </tr>
        {{#each skillsTable.DEX}}
        <tr data-key="{{key}}">
          <td>{{name}}{{#ifgt difficult 1}} ({{difficult}}){{/ifgt}}</td>
          <td>
            <input type="hidden" name="data.skills.{{key}}.difficult" value="{{difficult}}"/>
            <input type="hidden" name="data.skills.{{key}}.stat" value="DEX"/>
            <input type="text" name="data.skills.{{key}}.value" value="{{lookup (lookup ../data.skills key) 'value'}}"  data-dtype="Number"/>
          </td>
          <td>{{lookup (lookup ../data.skills key) 'total'}}</td>
        </tr>
        {{/each}}
      </table>

    </div>
    <div class="flex-item">
      <table class="actor-table-skills">
        <tr>
          <th colspan="3">{{localize "Witcher.Actor.Stats.EMP.Long"}}</th>
        </tr>
        {{#each skillsTable.EMP}}
        <tr data-key="{{key}}">
          <td>{{name}}{{#ifgt difficult 1}} ({{difficult}}){{/ifgt}}</td>
          <td>
            <input type="hidden" name="data.skills.{{key}}.difficult" value="{{difficult}}"/>
            <input type="hidden" name="data.skills.{{key}}.stat" value="EMP"/>
            <input type="text" name="data.skills.{{key}}.value" value="{{lookup (lookup ../data.skills key) 'value'}}"  data-dtype="Number"/>
          </td>
          <td>{{lookup (lookup ../data.skills key) 'total'}}</td>
        </tr>
        {{/each}}
      </table>

      <table class="actor-table-skills">
        <tr>
          <th colspan="3">{{localize "Witcher.Actor.Stats.BODY.Long"}}</th>
        </tr>
        {{#each skillsTable.BODY}}
        <tr data-key="{{key}}">
          <td>{{name}}{{#ifgt difficult 1}} ({{difficult}}){{/ifgt}}</td>
          <td>
            <input type="hidden" name="data.skills.{{key}}.difficult" value="{{difficult}}"/>
            <input type="hidden" name="data.skills.{{key}}.stat" value="BODY"/>
            <input type="text" name="data.skills.{{key}}.value" value="{{lookup (lookup ../data.skills key) 'value'}}"  data-dtype="Number"/>
          </td>
          <td>{{lookup (lookup ../data.skills key) 'total'}}</td>
        </tr>
        {{/each}}
      </table>

    </div>

    <div class="flex-item">
      <table class="actor-table-skills">
        <tr>
          <th colspan="3">{{localize "Witcher.Actor.Stats.WILL.Long"}}</th>
        </tr>
        {{#each skillsTable.WILL}}
        <tr data-key="{{key}}">
          <td>{{name}}{{#ifgt difficult 1}} ({{difficult}}){{/ifgt}}</td>
          <td>
            <input type="hidden" name="data.skills.{{key}}.difficult" value="{{difficult}}"/>
            <input type="hidden" name="data.skills.{{key}}.stat" value="WILL"/>
            <input type="text" name="data.skills.{{key}}.value" value="{{lookup (lookup ../data.skills key) 'value'}}"  data-dtype="Number"/>
          </td>
          <td>{{lookup (lookup ../data.skills key) 'total'}}</td>
        </tr>
        {{/each}}
      </table>

      <table class="actor-table-skills">
        <tr>
          <th colspan="3">{{localize "Witcher.Actor.Stats.CRA.Long"}}</th>
        </tr>
        {{#each skillsTable.CRA}}
        <tr data-key="{{key}}">
          <td>{{name}}{{#ifgt difficult 1}} ({{difficult}}){{/ifgt}}</td>
          <td>
            <input type="hidden" name="data.skills.{{key}}.difficult" value="{{difficult}}"/>
            <input type="hidden" name="data.skills.{{key}}.stat" value="CRA"/>
            <input type="text" name="data.skills.{{key}}.value" value="{{lookup (lookup ../data.skills key) 'value'}}"  data-dtype="Number"/>
          </td>
          <td>{{lookup (lookup ../data.skills key) 'total'}}</td>
        </tr>
        {{/each}}
      </table>

    </div>
  </div>

</div>