<div class="actor-stats-container">
<h1><input name="name" type="text" value="{{item.name}}" placeholder="{{localize "Witcher.Actor.Name"}}" /></h1>

  <div class="flex-parent">
   
    <div class="flex-item">
      <img class="profile" src="{{item.img}}" title="{{item.name}}" data-edit="img"/>
    </div>

    <div class="flex-item">
    <table class="actor-table-stats">
      <tr class="block-40px">
        <td>{{localize "Witcher.Actor.Race"}}</td>
        <td></td>
      </tr>
      <tr class="block-40px">
        <td>{{localize "Witcher.Actor.Profession"}}</td>
        <td></td>
      </tr>
      <tr>
        <td colspan="2">{{localize "Witcher.Actor.DefiningSkill"}}</td>
      </tr>
      <tr>
        <td colspan="2"></td>
      </tr>
      <tr>
        <td>{{localize "Witcher.Actor.Reputation"}}</td>
        <td></td>
      </tr>
      <tr>
        <td>{{localize "Witcher.Actor.Sex"}}</td>
        <td></td>
      </tr>
      <tr>
        <td>{{localize "Witcher.Actor.Age"}}</td>
        <td></td>
      </tr>
       <tr>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>{{localize "Witcher.Actor.Krones"}}</td>
        <td></td>
      </tr>
    </table>
    </div>

    <div class="flex-item">
      <table class="actor-table-stats">
        <tr>
          <td>{{localize "Witcher.Actor.Stats.INT.Short"}}</td>
          <td><input type="text" name="data.stats.INT.value" value="{{data.stats.INT.value}}"  data-dtype="Number"/></td>
          <td>{{data.stats.INT.total}}</td>
        </tr>
        <tr>
          <td>{{localize "Witcher.Actor.Stats.REF.Short"}}</td>
          <td><input type="text" name="data.stats.REF.value" value="{{data.stats.REF.value}}"  data-dtype="Number"/></td>
          <td>{{data.stats.REF.total}}</td>
        </tr>
        <tr>
          <td>{{localize "Witcher.Actor.Stats.DEX.Short"}}</td>
          <td><input type="text" name="data.stats.DEX.value" value="{{data.stats.DEX.value}}"  data-dtype="Number"/></td>
          <td>{{data.stats.DEX.total}}</td>
        </tr>
        <tr>
          <td>{{localize "Witcher.Actor.Stats.BODY.Short"}}</td>
          <td><input type="text" name="data.stats.BODY.value" value="{{data.stats.BODY.value}}"  data-dtype="Number"/></td>
          <td>{{data.stats.BODY.total}}</td>
        </tr>
        <tr>
          <td>{{localize "Witcher.Actor.Stats.SPD.Short"}}</td>
          <td><input type="text" name="data.stats.SPD.value" value="{{data.stats.SPD.value}}"  data-dtype="Number"/></td>
          <td>{{data.stats.SPD.total}}</td>
        </tr>
        <tr>
          <td>{{localize "Witcher.Actor.Stats.EMP.Short"}}</td>
          <td><input type="text" name="data.stats.EMP.value" value="{{data.stats.EMP.value}}"  data-dtype="Number"/></td>
          <td>{{data.stats.EMP.total}}</td>
        </tr>
        <tr>
          <td>{{localize "Witcher.Actor.Stats.CRA.Short"}}</td>
          <td><input type="text" name="data.stats.CRA.value" value="{{data.stats.CRA.value}}"  data-dtype="Number"/></td>
          <td>{{data.stats.CRA.total}}</td>
        </tr>
        <tr>
          <td>{{localize "Witcher.Actor.Stats.WILL.Short"}}</td>
          <td><input type="text" name="data.stats.WILL.value" value="{{data.stats.WILL.value}}"  data-dtype="Number"/></td>
          <td>{{data.stats.WILL.total}}</td>
        </tr>        
        <tr>
          <td>{{localize "Witcher.Actor.Stats.RUN.Short"}}</td>
          <td colspan="2">{{data.stats.RUN.total}}</td>
        </tr>
        <tr>
          <td>{{localize "Witcher.Actor.Stats.LEAP.Short"}}</td>
          <td colspan="2">{{data.stats.LEAP.total}}</td>
        </tr>
        <tr>
          <td>{{localize "Witcher.Actor.Stats.REC.Short"}}</td>
          <td colspan="2">{{data.stats.REC.total}}</td>
        </tr>
        <tr>
          <td>{{localize "Witcher.Actor.Stats.STUN.Short"}}</td>
          <td colspan="2">{{data.stats.STUN.total}}</td>
        </tr>
        <tr>
          <td>{{localize "Witcher.Actor.Stats.ENC.Short"}}</td>
          <td>{{data.stats.ENC.value}}</td>
          <td>{{data.stats.ENC.total}}</td>
        </tr>
      </table>
    </div>

    <div class="flex-item">
      <table class="actor-table-stats actor-table-sensors">
        <tr><td class="actor-summary-sensor actor-sensor-hp">
          <input type="text" name="data.stats.HP.value" value="{{data.stats.HP.value}}"  data-dtype="Number"/>/ {{data.stats.HP.total}}
        </td></tr>
        <tr><td class="actor-summary-sensor actor-sensor-sta">
          <input type="text" name="data.stats.STA.value" value="{{data.stats.STA.value}}"  data-dtype="Number"/>/ {{data.stats.STA.total}}
        </td></tr>
        <tr><td class="actor-summary-sensor actor-sensor-vigor">
          <input type="text" name="data.stats.VIGOR.value" value="{{data.stats.VIGOR.value}}"  data-dtype="Number"/>/ {{data.stats.VIGOR.total}}
        </td></tr>
        <tr><td class="actor-summary-sensor actor-sensor-luck">
          <input type="text" name="data.stats.LUCK.value" value="{{data.stats.LUCK.value}}"  data-dtype="Number"/>/ {{data.stats.LUCK.total}}
        </td></tr>
      </table>
    </div>

    <div class="flex-item">
      <table>
        <tr><th colspan="2">{{localize "Witcher.Actor.Buttons.QuickActions"}}</th></tr>
        <tr>
          <td><input type="submit" value="{{localize "Witcher.Actor.Buttons.Initiative"}}" name=""/></td>
          <td><input type="submit" value="{{localize "Witcher.Actor.Buttons.Stun"}}" name=""/></td>
        </tr>
        <tr>
          <td><input type="submit" value="{{localize "Witcher.Actor.Buttons.TargetLoc"}}" name=""/></td>
          <td><input type="submit" value="{{localize "Witcher.Actor.Buttons.Defense"}}" name=""/></td>
        </tr>
        <tr>
          <td colspan="2">Очки улучшений</td>
        </tr>
      </table>
    </div>
  </div>

</div>